{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Bootstrap E-commerce Templates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="/static/themes/css/bootstrappage.css" rel="stylesheet"/>

		<!-- global styles -->
		<link href="/static/themes/css/flexslider.css" rel="stylesheet"/>
		<link href="/static/themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="/static/themes/js/jquery-1.7.2.min.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/themes/js/superfish.js"></script>
		<script src="/static/themes/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body>
		<div id="top-bar" class="container">
			<div class="row">
					<div class="span4">
						<form method="post" name=searchf class="search_form" action="/">{% csrf_token %}
							<input type="text" name=searchStr class="input-inline-level search-query" style="color:#000000">
							<button value="Submit" class="btn btn-inverse" name = "submit" type="submit">Search</button>
						</form>
					</div>
				<div class="span8">
					<div class="account pull-right">
							<ul class="user-menu">
									<li><a href="/account">My Account</a></li>
									{% if type %}
									<li><a href="/index">Enroll Product</a></li>
									{% else %}
									<li><a href="/index">Your Cart</a></li>
									{% endif %}
									<li><a href="/checkout">Checkout</a></li>
									<li><a href="/register">Login</a></li>
							</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">
					<a href="/index" class="logo pull-left"><img src="/static/themes/images/logo.png" class="site_logo" alt=""></a>
					<nav id="menu" class="pull-right">
						<ul>
							{% for category in categorys %}
							<li><a href="/products/{{category.title}}">{{category.title}}</a></li>
							{% endfor %}
						</ul>
					</nav>
				</div>
			</section>
			<section class="header_text sub">
			<img class="pageBanner" src="/static/themes/images/pageBanner.png" alt="New products" >
				<h4><span>New products</span></h4>
			</section>
			<section class="main-content">
				<div class="row">
					<div class="span9">
						<ul class="thumbnails listing-products">
							{% for product in products%}
							<li class="span3">
								<a href="/product_details/{{product.productcode}}">
								<div class="product-box">
									<span class="sale_tag"></span>
									{% if product.image %}
									<p><img src="{{ product.image.url}}" alt="" /></p>
									{% endif %}
									<a href="/product_details/{{product.productcode}}" class="title">{{product.title}}</a><br/>
									<a href="/product_details/{{product.productcode}}" class="category">{{product.category}}</a>
									<p class="price">${{product.price}}</p>
								</div>
								</a>
							</li>
							{% endfor %}
						</ul>
						<hr>
					</div>
				</div>
			</section>
			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><a href="/index">Homepage</a></li>
							<li><a href="/about">About Us</a></li>
							<li><a href="/contact">Contac Us</a></li>
							<li><a href="/cart">Your Cart</a></li>
							<li><a href="/register">Login</a></li>
						</ul>
					</div>
					<div class="span4">
						<h4>My Account</h4>
						<ul class="nav">
							<li><a href="#">My Account</a></li>
							<li><a href="#">Order History</a></li>
							<li><a href="#">Wish List</a></li>
							<li><a href="#">Newsletter</a></li>
						</ul>
					</div>
					<div class="span5">
						<p class="logo"><img src="/static/themes/images/logo.png" class="site_logo" alt=""></p>
						<span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
					</div>
				</div>
			</section>
			<section id="copyright">
			</section>
		</div>
		<script src="/static/themes/js/common.js"></script>
    </body>
</html>
